<!DOCTYPE html>
{% load bootstrap4 %} 
{% bootstrap_css %}
{# Load CSS and JavaScript #}

{% bootstrap_javascript jquery='full' %} 
{% bootstrap_messages %} {# Display django.contrib.messages as Bootstrap alerts #}
{% load static %}


<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'js/scripts.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <title>AirForcePass</title>

</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #111111">

        <a class="navbar-brand" style="color: #fcb414; text-shadow: 1px 1px 6px #e71837; " href="#">AirforceAccess</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto align-items-center">

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'airforcePassWeb:index' %}">Ínicio <span class="sr-only">(current)</span></a>
                </li>
                {% comment %} {% if request.user.is_superuser %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                    </li>
                {% endif %} 
                {% endcomment %}
                

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a type="button" class="nav-link" data-toggle="modal" data-target="#exampleModal">Cadastrar <span class="sr-only">(current)</span></a>
                </li>
                {% if request.user.is_authenticated %}
                    {# usuário logado #}
                    <li class="nav-item active ">
                        <a type="button" class="nav-link">{{ request.user.username }} </a>
                    </li>
                    <li class="nav-item active ">
                        <a href="{% url 'airforcePassWeb:logout' %}" class="nav-link" type="button" >Sair</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown active dropleft">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                            Acesso
                        </a>
                        <div class="dropdown-menu" style="min-width:300px; width: auto; height: auto; padding: 10px;" aria-labelledby="navbarDropdown">
                            
                            {# formulario de login#}

                            <form class="form" action="{% url 'airforcePassWeb:signIn' %}" method="POST">
                                {% csrf_token %}

                                {% if message %}
                                    <p class="text-danger">{{ message }}</p>
                                {% endif %}

                                <div class="form-group">
                                  <label for="username-field">Usuário</label>
                                  <input type="text" class="form-control" id="username-field" name="username" >
                                  {% comment %} <small id="helpId" class="form-text text-muted">Help text</small> {% endcomment %}
                                </div>
                                <div class="form-group">
                                  <label for="password-field">Senha</label>
                                  <input  class="form-control" id="password-field" name="password" type="password">
                                  {% comment %} <small id="helpId" class="form-text text-muted">Help text</small> {% endcomment %}
                                </div>
                                <button class="btn btn-primary" type="submit">Login</button>
                            </form>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Cadastrar</a>
                            <a class="dropdown-item" href="#">Esqueceu a Senha?</a>
                        </div>
                    </li>
                {% endif %}
                
            </ul>

        </div>
    </nav>

{% block body %}
{% endblock %}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">

      {% comment %} 
            formulario de cadastro
       {% endcomment %}
        <form action="{% url 'airforcePassWeb:signUp' %}" method="post">
            {% csrf_token %}
            {{ userform.as_p }}
            {{ propertyform.as_p }}
            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>